
h1{
	font-size: 25px;
	font-weight: 800;
	width: 250px;
	color: #696764;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

h2{
	font-size: 25px;
	font-weight: 900;
	color: #696764;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

p{
	font-size: 17px;
	font-weight: 250;
	color: #696764;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Every Label */
.label_1{	
	font-size: 32px;	
	color: #292929;
}

.label_2{	
	font-size: 17px;
	color: #292929;
	
	float:left;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Name of Company - Header*/
#name_header{
	font-size: 14px;
	color: #696764;
}

/* Name of System - Footer*/
#system_footer{
	font-size: 14px;
	color: #696764;
}

/* Name of Developer - Footer*/
#developer_footer{
	font-size: 14px;
	color: #696764;
}