/* Footer */


/* System Name - Footer */
#div_systemfooter{	
	/* width: 300px;
	padding-left: 15px;
		
	display: block;
    float: left;
	
} */

/* Developer Lable - Footer */
#div_developerfooter{
	/* padding-right: 35px;
    display: block;
    float: right;
} */